nav {
    display: flex;
    justify-content: center;
    gap: 28px;
    width:100%;    
    padding: 1em 0.5em;
    margin: 32px 0;
}

.botao-ordenacao {
    background-color: transparent;
    font: var(--fonte);
    font-size: 22px;
    border: none;
    cursor: pointer;
    font-weight: 400;
    color: var(--cinza-medio);
}

.botao-ordenacao:hover {
    font-weight: 600;
    color: var(--verde-destaque);
    text-decoration: underline;
}